<h3> Add a list </h3>

<form action='/save/list' method='post'>
  <label for = 'list_name'> List Name</label>
  <input name='list_name' id='list_name' type='text' class='form-control' >

  <button type = "submit" class="btn btn-success">Create List</button>
</form>
